body {
    padding-top: 80px;
  }

  .pic {
    height: 400px;
    width: 700px;
    object-fit: contain;

  }
  #error {
      color: red;
  }

  .card:hover {
    box-shadow: 0 0 11px rgba(100,100,100,1); 
  }